@use "@/styles/mixins" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-text-muted);
}

.selectWrapper {
  width: 100%;
  position: relative;

  .trigger {
    @include input;
    width: 100%;
    appearance: none;
    background-color: transparent;
    padding-right: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-text-muted);
    pointer-events: none;
  }

  .dropdown {
    margin-top: 4px;
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 0;

    .option {
      padding: 0.75rem 1rem;
      cursor: pointer;
      font-size: 14px;
      text-decoration: none;
      color: var(--color-text);
      list-style-type: none;

      &:hover {
        background-color: var(--color-background);
      }

      &.selected {
        background-color: var(--color-background);
        color: var(--color-accent);

        font-weight: 700;
      }
    }
  }
}
