@use "@/styles/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-secondary-800);
}

.select {
  @include input;
  appearance: none;
}
