@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.main {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  position: relative;
  max-width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  max-width: 500px;
}

.heading {
  @include heading;
}
