@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-100);
}

.main {
  flex: 1;
  padding: 1rem;
}

.heading {
  @include heading;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 4rem;
  .form {
  }
}
