@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-100);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.heading {
  @include heading;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  width: 100%;
}
