@use "@/styles/mixins" as *;
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 1rem;
  background-color: var(--primary-100);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 28rem;
  margin: 0 auto;
  align-items: center;
}
.link {
  @include btnPrimary;
  .btn {
    cursor: pointer;
  }
}
