@use "@/styles/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 4px;
}

.label {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-secondary-800);
}

.inputWrapper {
  width: 100%;
  .input {
    @include input;
    padding-right: 40px;
  }
  .hasUnit {
    padding-right: 60px;
  }

  .unit {
    position: absolute;
    right: 12px;
    top: 50%;
    font-size: 14px;
    color: var(--color-secondary-800);
    pointer-events: none;
  }
}
