@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;
.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 500px;
  gap: 1rem;
}

.input,
.select {
  @include input;
  min-width: 200px;
}
.inputField {
  flex: 1;
}

.btnPrimary {
  @include btnPrimary;
}
.btnOutline {
  @include btnOutline;
}
