@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.input,
.select {
  max-width: 200px;
}

.btnPrimary {
  @include btnPrimary;
}
.btnOutline {
  @include btnOutline;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: var(--color-text);
}
