@use "../../../../styles/variables.scss";
.container {
  height: 50%;
  background-color: var(--primary-500);
  position: sticky;
  top: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(0);
  }
}

.chevron {
  width: 5rem;
  height: 5rem;
  color: var(--primary-50);
  margin-top: auto;
  animation: bounce 1s infinite;
}

.titleContainer {
  margin-bottom: 2rem;
  margin-top: auto;
  .titleText {
    font-size: 5rem !important;
    color: var(--primary-50);
  }
  .titleBox {
    background-color: var(--primary-50);
  }
}
