@use "../../../../styles/variables.scss";

.titleContainer {
  margin-bottom: 2rem;
  margin-top: auto;
  .titleText {
    font-size: 5rem !important;
    color: var(--primary-50);
  }
  .titleBox {
    background-color: var(--primary-50);
  }
}
