@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;
.container {
  width: 100%;
  max-width: 500px;
  flex-shrink: 0;
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  gap: 1rem;
}

.input,
.select {
  @include input;
  width: 100%;
}

.btnPrimary {
  @include btnPrimary;
}
.btnOutline {
  @include btnOutline;
}
